.window {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.group {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  margin: 2% 0;
  font-size: 50px;
  /* text-decoration: underline; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px; 
}

.grid {
  display: grid;
  justify-content: space-around;
  align-items: center;
  height: 85%;
  width: 80%;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  gap: 2%;  
  margin-right: 40px;
  margin-bottom: 2%;
}

.container {
  position: relative;
  height: 100%;
  margin: 2% 2%;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.project {
  position: absolute;
  background-color: hsl(var(--color), 100%, 85%);
  border: 2px black solid;
  z-index: 10;


  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -20px;
  right: calc(100% + 2px);
  bottom: 0px;
  background-color: hsl(var(--color), 100%, 85%);
  z-index: -1;
}

.project:after {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -10px;
  top: calc(100% + 2px);
  background-color: hsl(var(--color), 100%, 85%);
  z-index: -1;
}


.showProj {
  margin-top: 10px;
  margin-right: 41px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.pTop {
  background-color: hsl(var(--color), 100%, 80%);
  position: absolute;
  border: 2px black solid;
  border-left: 8px black solid;

  transform: skewX(calc(-1 * atan(4)));
  top: 0;
  transition: height .15s, margin .15s;
  height: 0px;
  right: 0px;
  margin-right: 0px;
  margin-left: 20px;
  left: 10px;
}

.showTop {
  height: 10px;
  margin-right: 20px;
  margin-left: 0px;
}

.pRight {
  background-color: hsl(var(--color), 100%, 75%);
  position: absolute;
  border: 2px black solid;  

  transform: skewY(calc(-1 * atan(1/4)));
  transition: width .15s, margin .15s;
  width: 0px;
  right: 0;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  bottom: 5px;
}

.showRight {
  width: 40px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.image {
  filter: brightness(0) saturate(100%);
  height: 60%;
  width: 60%;
  object-fit: contain;
  image-rendering: pixelated;
}

.projTitle {
  margin-bottom: 4%;
  font-size: 20px;
}
