.window {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.projectHeader {
  margin-top: 2%;
  font-size: 50px;
  /* text-decoration: underline; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px; 
}

.projectRows {
  display: flex;
  flex-direction: column;
  height:calc(96vh - 64px - 79px - 40px);
  width: 100%;
}

.projectRow, .tripRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
}

.projectContainer {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  height: 70%;
  width: 25%;

}

.project {
  position: absolute;
  background-color: hsl(150, 100%, 85%);
  border: 2px black solid;
  z-index: 10;

  top: 0px;
  margin-top: 0px;
  right: 0px;
  margin-right: 0px;
  bottom: 0;
  margin-bottom: 10px;
  left: 0;
  margin-left: 40px;
  transition: margin .15s;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -20px;
  right: calc(100% + 2px);
  bottom: 0px;
  background-color: hsl(150, 100%, 85%);
  z-index: -1;
}

.project:after {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -10px;
  top: calc(100% + 2px);
  background-color: hsl(150, 100%, 85%);  
  z-index: -1;
}


.showProj {
  margin-top: 10px;
  margin-right: 41px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.pTop {
  background-color: hsl(150, 100%, 80%);
  position: absolute;
  border: 2px black solid;
  border-left: 8px black solid;

  transform: skewX(calc(-1 * atan(4)));
  top: 0;
  transition: height .15s, margin .15s;
  height: 0px;
  right: 0px;
  margin-right: 0px;
  margin-left: 20px;
  left: 10px;
}

.showTop {
  height: 10px;
  margin-right: 20px;
  margin-left: 0px;
}

.pRight {
  background-color: hsl(150, 100%, 75%);
  position: absolute;
  border: 2px black solid;  

  transform: skewY(calc(-1 * atan(1/4)));
  transition: width .15s, margin .15s;
  width: 0px;
  right: 0;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  bottom: 5px;
}

.showRight {
  width: 40px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 4% 4%;
}

.projTitle {
  margin-bottom: 4%;
  font-size: 20px;
}


.tripRow {
  height: 33%;
}

.genericContainer {
  height: 60%;
  width: 15%;
  background-color: transparent;
  border: 2px black solid;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}





.subImage {
  height: 80%;
  width: 100%;
  object-fit: contain;
}

.subDesc {
  width: 60%;
}


.black {
  filter: brightness(0) saturate(100%);
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin: 10% 10%;
}