@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Tilt Warp', sans-serif;
}

.trueBackground {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.left, .leftBehind {
  position: absolute;
  border: 2px black solid;

  left: 0;
  bottom: 0;
  height: calc(100vh - 79px);
  width: calc(100vw - 304px);
  background-color: rgb(255, 255, 255);
  z-index: 1;
  transition: background-color .25s;
  transform: translateY(0%);
}

.left {
  z-index: 2;
  transition: none;
}

.tag, .nestedTag {
  position:absolute;
  left: 102px;
  top: 10px;
  height: 65px;
  width: 95px;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  border: 2px black solid;
  border-radius: 10px;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.nestedTag {
  top: -67px;
}

.hidden {
  transform: translateY(110%);
}

.top {
  position: absolute;
  border: 2px black solid;

  transform: skewX(calc(-1 * atan(4)));
  top: 0;
  height: 75px;
  right: 150px;
  width: calc(100vw - 300px);
  background-color: rgb(235, 235, 235);
  transition: background-color .25s;
}

.right {
  position: absolute;
  border: 2px black solid;

  right: 0;
  width: 300px;
  top: calc(75px/2 - 0px);
  height: calc(100vh - 79px);
  background-color: rgb(215, 215, 215);
  transform: skewY(calc(-1 * atan(1/4)));
  transition: background-color .25s;
}

.right > div {
  font-size: 55px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 4px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px;
  transition: -webkit-text-fill-color .15s;
  transition: -webkit-text-stroke .15s;
  transition: font-size .15s;
}

.right > div:hover {
  font-size: 75px;
  -webkit-text-stroke: 4px;
}